.header {
    color: bisque;
    background-color: rgb(58, 3, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 5px 2px 3px rgb(238, 196, 146), -5px -5px 5px rgb(240, 177, 100);
    /*1st new css property */
    padding-top: 5px;
}

.header h1 {
    margin: 0;
}

.header hr {
    margin: 0;
}

body {
    margin: 0%;
}

.navbar ul {
    list-style-type: none;
    background-color: purple;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: bisque;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(168, 55, 168);
}

.navbar li {
    float: left;
    padding-left: 8%;
}

main {
    background-color: plum;
}

#sourceStyle {
    text-align: center; 
    color: purple; 
    text-shadow: 5px 2px 3px rgb(148, 50, 190), -5px -5px 5px rgb(240, 177, 100); 
    font-style: italic; 
    font-size: large;
}

.imageDegree {
    width: 300px;
    height: 300px;
    border: 5px solid rgb(91, 91, 91);
    object-fit: cover;
}

img:hover {
    width: 130%;
}

.divDegree {
    flex-wrap: wrap;
    display: flex;
    /* creates a multiple-coloumn content layout */
    justify-content: center;
    /* centers content within a flex element */
}

.captions {
    color: purple;
    font-family: fantasy;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 5px 2px 3px rgb(148, 50, 190), -5px -5px 5px rgb(240, 177, 100);
}

h2 {
    text-align: center; 
    color: purple; 
    text-shadow: 5px 2px 3px rgb(148, 50, 190), -5px -5px 5px rgb(240, 177, 100); 
    font-style: italic; 
    text-decoration: underline;
}

article {
    text-align: center; 
    color: purple; 
    margin: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6em;
    flex-wrap: wrap;
}

.logoFix {
    width: 5%;
    flex-direction: row;
}

.logoFix:hover {
    width: 5%;
}

footer {
    text-align: center;
    background-color: rgb(58, 3, 58);
    color: bisque;
    text-shadow: 5px 2px 3px rgb(238, 196, 146), -5px -5px 5px rgb(240, 177, 100);
}

footer p {
    margin: 0%;
}

footer hr {
    margin: 0%;
}