.picFix {
            width: 250px;
            height: 250px;
        }

        .header {
            color: white;
            background-color: black;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            padding-top: 5px;
        }

        .header h1 {
            margin: 0;
        }

        .header hr {
            margin: 0;
        }

        body {
            margin: 0%;
        }

        .navbar ul {
            list-style-type: none;
            background-color: goldenrod;
            margin: 0px;
            overflow: hidden;
        }

        .navbar a {
            color: aliceblue;
            text-decoration: none;
            padding: 15px;
            display: block;
            text-align: center;
        }

        .navbar a:hover {
            background-color: rgb(165, 125, 25);
        }

        .navbar li {
            float: left;
            padding-left: 20%;
        }

        main {
            background-color: darkblue;
        }

        #listContainer {
            text-align: center;
        }

        #bulletContainer {
            color: aliceblue;
            display: inline-block;
            /* Allows the list to be centered by the parent's text-align */
            text-align: left;
            /* Aligns the list text to the left for readability */
            padding-left: 0;
            /* Optional: removes default left padding for better control */
        }

        table {
            margin-left: auto;
            margin-right: auto;
            /* Optional: set a width for the table */
            width: 50%;
            border: 2px solid grey;
            /* Adds a 2px solid black border around the entire table */
            border-collapse: collapse;
            /* Prevents double borders where table and cell borders meet */
            width: 50%;
            /* Optional: Adjusts table width */
            margin: 0 auto;
            /* Optional: Centers the table on the page */
        }

        th {
            background-color: aliceblue;
            border: 1px solid grey;
            padding: 8px;
            /* Optional: Adds space between content and cell border */
        }

        td {
            color: aliceblue;
            border: 1px solid grey;
            padding: 8px;
            /* Optional: Adds space between content and cell border */
        }

        h4 {
            text-align: center;
            color: aliceblue;
            margin: 0%;
        }

        footer {
            text-align: center;
            background-color: black;
            color: aliceblue;
        }

        footer p {
            margin: 0%;
        }

        footer hr {
            margin: 0%;
        }

        #formFix {
            border: 2px;
            text-align: center;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .names {
            text-align: center;
            color: aliceblue;
        }

        .quote {
            text-align: center;
            color: aliceblue;
        }